workflows/luxee-inbox/luxee-internal_inbox_inbound-sms-handler.json
{
  "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567890",
  "name": "[Luxee] Inbox \u2014 Inbound SMS Handler",
  "nodes": [
    {
      "id": "sticky-001",
      "name": "Header",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 60],
      "parameters": {
        "content": "## [Luxee] Inbox \u2014 Inbound SMS Handler\n\n**Client:** luxee-internal | **Domain:** inbox | **Version:** 1.0 | **Last update:** 2026-04-03\n\n**Description:** Receives inbound Twilio SMS, normalizes to canonical payload,\npersists message + conversation in Supabase, triggers async AI analysis.\nIdempotent \u2014 duplicate MessageSids are safely discarded.\n\n**Required env vars:**\n- `SUPABASE_URL` \u2014 Supabase project URL\n- `SUPABASE_SERVICE_KEY` \u2014 Service role key (write access)\n- `N8N_WEBHOOK_AI_ANALYZER` \u2014 AI Analyzer sub-workflow webhook URL\n- `SLACK_WEBHOOK_OPS` \u2014 Slack webhook for fatal error alerts\n\n**Tags:** `client:luxee-internal` `domain:inbox`",
        "height": 240,
        "width": 740,
        "color": 5
      }
    },
    {
      "id": "trigger-001",
      "name": "[TRIGGER] Receive Twilio SMS Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [560, 300],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-111111111111",
      "parameters": {
        "httpMethod": "POST",
        "path": "luxee-sms-inbound",
        "responseMode": "onReceived",
        "responseData": "noData",
        "options": {}
      }
    },
    {
      "id": "bridge-001",
      "name": "[BRIDGE] Normalize SMS Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300],
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nreturn [{\n  json: {\n    trace_id: input.MessageSid ?? null,\n    workflow_name: '[Luxee] Inbox \u2014 Inbound SMS Handler',\n    source_system: 'twilio',\n    entity_type: 'message',\n    message: {\n      direction: 'inbound',\n      body: input.Body ?? null,\n      external_message_id: input.MessageSid ?? null,\n      status: 'received',\n      subject: null,\n      media_url: input.MediaUrl0 ?? null,\n      num_media: parseInt(input.NumMedia ?? '0', 10)\n    },\n    conversation: {\n      channel_connection_id: null,\n      external_contact_id: input.From ?? null,\n      status: 'open',\n      is_new: false\n    },\n    contact: {\n      phone: input.From ?? null,\n      known_contact_id: null\n    },\n    channel: {\n      type: 'sms',\n      from: input.From ?? null,\n      to: input.To ?? null,\n      provider: 'twilio',\n      account_sid: input.AccountSid ?? null\n    },\n    ai: {\n      intent: null,\n      summary: null,\n      sentiment: null,\n      priority_score: null,\n      suggested_reply: null,\n      qualification_stage: null,\n      tags: []\n    },\n    routing: {\n      assigned_to: null,\n      team: null,\n      escalated: false\n    },\n    meta: {\n      from_country: input.FromCountry ?? null,\n      from_city: input.FromCity ?? null,\n      from_state: input.FromState ?? null,\n      num_segments: input.NumSegments ?? null,\n      sms_status: input.SmsStatus ?? null\n    },\n    raw_payload: input\n  }\n}];"
      }
    },
    {
      "id": "validation-001",
      "name": "[VALIDATION] Check Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "v-c1",
              "leftValue": "={{ $json.message.external_message_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "v-c2",
              "leftValue": "={{ $json.message.body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "v-c3",
              "leftValue": "={{ $json.channel.from }}",
              "rightValue": "^\\+\\d{7,15}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "idempotency-001",
      "name": "[IDEMPOTENCY] Check Duplicate Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: $env.SUPABASE_URL + '/rest/v1/messages',\n  headers: {\n    'apikey': $env.SUPABASE_SERVICE_KEY,\n    'Authorization': 'Bearer ' + $env.SUPABASE_SERVICE_KEY\n  },\n  qs: {\n    external_message_id: 'eq.' + data.trace_id,\n    select: 'id',\n    limit: '1'\n  },\n  json: true\n});\n\nreturn [{\n  json: {\n    ...data,\n    _idempotency: {\n      is_duplicate: Array.isArray(response) && response.length > 0,\n      existing_message_id: Array.isArray(response) && response.length > 0 ? response[0].id : null\n    }\n  }\n}];"
      }
    },
    {
      "id": "is-dup-001",
      "name": "[IDEMPOTENCY] Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1520, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-c1",
              "leftValue": "={{ $json._idempotency.is_duplicate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "skip-log-001",
      "name": "[LOGGING] Skip \u2014 Write Duplicate Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 520],
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: $env.SUPABASE_URL + '/rest/v1/events_log',\n  headers: {\n    'apikey': $env.SUPABASE_SERVICE_KEY,\n    'Authorization': 'Bearer ' + $env.SUPABASE_SERVICE_KEY,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=minimal'\n  },\n  body: {\n    event_type: 'message.duplicate_skipped',\n    actor_type: 'workflow',\n    actor_id: '[Luxee] Inbox \u2014 Inbound SMS Handler',\n    workflow_trace_id: data.trace_id,\n    status: 'skipped',\n    payload: {\n      source_system: data.source_system,\n      external_message_id: data.message.external_message_id,\n      existing_message_id: data._idempotency.existing_message_id\n    }\n  },\n  json: true\n});\n\nreturn [$input.first()];"
      }
    },
    {
      "id": "channel-001",
      "name": "[PROCESSING] Resolve Channel Connection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst toPhone = data.channel.to;\n\nconst response = await this.helpers.httpRequest({\n  method: 'GET',\n  url: $env.SUPABASE_URL + '/rest/v1/channel_connections',\n  headers: {\n    'apikey': $env.SUPABASE_SERVICE_KEY,\n    'Authorization': 'Bearer ' + $env.SUPABASE_SERVICE_KEY\n  },\n  qs: {\n    channel: 'eq.sms',\n    external_identifier: 'eq.' + toPhone,\n    is_active: 'eq.true',\n    select: 'id,label,config',\n    limit: '1'\n  },\n  json: true\n});\n\nconst found = Array.isArray(response) && response.length > 0;\n\nreturn [{\n  json: {\n    ...data,\n    conversation: {\n      ...data.conversation,\n      channel_connection_id: found ? response[0].id : null\n    },\n    _channel: {\n      found: found,\n      label: found ? response[0].label : null,\n      config: found ? response[0].config : null\n    }\n  }\n}];"
      }
    },
    {
      "id": "ch-found-001",
      "name": "[PROCESSING] Channel Connection Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "ch-c1",
              "leftValue": "={{ $json._channel.found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "contact-001",
      "name": "[PROCESSING] Resolve or Create Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst phone = data.contact.phone;\n\n// 1. Try to find existing contact by phone\nconst existing = await this.helpers.httpRequest({\n  method: 'GET',\n  url: $env.SUPABASE_URL + '/rest/v1/contacts',\n  headers: {\n    'apikey': $env.SUPABASE_SERVICE_KEY,\n    'Authorization': 'Bearer ' + $env.SUPABASE_SERVICE_KEY\n  },\n  qs: {\n    phone: 'eq.' + phone,\n    select: 'id,full_name,company',\n    limit: '1'\n  },\n  json: true\n});\n\nlet contactId;\nlet isNewContact = false;\n\nif (Array.isArray(existing) && existing.length > 0) {\n  // Known contact\n  contactId = existing[0].id;\n} else {\n  // Create minimal contact \u2014 enrichment happens in AI workflow\n  const created = await this.helpers.httpRequest({\n    method: 'POST',\n    url: $env.SUPABASE_URL + '/rest/v1/contacts',\n    headers: {\n      'apikey': $env.SUPABASE_SERVICE_KEY,\n      'Authorization': 'Bearer ' + $env.SUPABASE_SERVICE_KEY,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=representation'\n    },\n    body: { phone: phone },\n    json: true\n  });\n  const result = Array.isArray(created) ? created[0] : created;\n  contactId = result.id;\n  isNewContact = true;\n}\n\nreturn [{\n  json: {\n    ...data,\n    contact: {\n      ...data.contact,\n      known_contact_id: contactId\n    },\n    _contact: {\n      id: contactId,\n      is_new: isNewContact\n    }\n  }\n}];"
      }
    },
    {
      "id": "conversation-001",
      "name": "[PROCESSING] Resolve or Create Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2480, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst channelConnectionId = data.conversation.channel_connection_id;\nconst contactId = data._contact.id;\nconst phone = data.contact.phone;\n\n// 1. Look for an existing open conversation\nconst existing = await this.helpers.httpRequest({\n  method: 'GET',\n  url: $env.SUPABASE_URL + '/rest/v1/conversations',\n  headers: {\n    'apikey': $env.SUPABASE_SERVICE_KEY,\n    'Authorization': 'Bearer ' + $env.SUPABASE_SERVICE_KEY\n  },\n  qs: {\n    channel_connection_id: 'eq.' + channelConnectionId,\n    contact_id: 'eq.' + contactId,\n    status: 'not.in.(resolved,archived,spam)',\n    select: 'id,status',\n    order: 'created_at.desc',\n    limit: '1'\n  },\n  json: true\n});\n\nlet conversationId;\nlet isNew = false;\n\nif (Array.isArray(existing) && existing.length > 0) {\n  conversationId = existing[0].id;\n} else {\n  // Create new conversation\n  const created = await this.helpers.httpRequest({\n    method: 'POST',\n    url: $env.SUPABASE_URL + '/rest/v1/conversations',\n    headers: {\n      'apikey': $env.SUPABASE_SERVICE_KEY,\n      'Authorization': 'Bearer ' + $env.SUPABASE_SERVICE_KEY,\n      'Content-Type': 'application/json',\n      'Prefer': 'return=representation'\n    },\n    body: {\n      channel_connection_id: channelConnectionId,\n      contact_id: contactId,\n      external_contact_id: phone,\n      status: 'open',\n      is_read: false,\n      last_workflow_trace_id: data.trace_id\n    },\n    json: true\n  });\n  const result = Array.isArray(created) ? created[0] : created;\n  conversationId = result.id;\n  isNew = true;\n}\n\nreturn [{\n  json: {\n    ...data,\n    conversation: {\n      ...data.conversation,\n      id: conversationId,\n      is_new: isNew\n    },\n    _conversation: {\n      id: conversationId,\n      is_new: isNew\n    }\n  }\n}];"
      }
    },
    {
      "id": "insert-message-001",
      "name": "[OUTPUT] Insert Message to Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2720, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: $env.SUPABASE_URL + '/rest/v1/messages',\n  headers: {\n    'apikey': $env.SUPABASE_SERVICE_KEY,\n    'Authorization': 'Bearer ' + $env.SUPABASE_SERVICE_KEY,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=representation'\n  },\n  body: {\n    conversation_id: data.conversation.id,\n    channel_connection_id: data.conversation.channel_connection_id,\n    direction: 'inbound',\n    status: 'received',\n    body: data.message.body,\n    subject: null,\n    external_message_id: data.message.external_message_id,\n    source_system: 'twilio',\n    raw_payload: data.raw_payload,\n    workflow_trace_id: data.trace_id\n  },\n  json: true\n});\n\nconst result = Array.isArray(response) ? response[0] : response;\n\nreturn [{\n  json: {\n    ...data,\n    _inserted_message: {\n      id: result.id\n    }\n  }\n}];"
      }
    },
    {
      "id": "update-conv-001",
      "name": "[OUTPUT] Update Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2960, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nawait this.helpers.httpRequest({\n  method: 'PATCH',\n  url: $env.SUPABASE_URL + '/rest/v1/conversations?id=eq.' + data.conversation.id,\n  headers: {\n    'apikey': $env.SUPABASE_SERVICE_KEY,\n    'Authorization': 'Bearer ' + $env.SUPABASE_SERVICE_KEY,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=minimal'\n  },\n  body: {\n    last_message_at: new Date().toISOString(),\n    is_read: false,\n    last_workflow_trace_id: data.trace_id,\n    contact_id: data._contact.id\n  },\n  json: true\n});\n\nreturn [$input.first()];"
      }
    },
    {
      "id": "trigger-ai-001",
      "name": "[OUTPUT] Trigger AI Analysis Sub-Workflow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3200, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\n// Fire-and-forget: do not block main pipeline on AI latency\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: $env.N8N_WEBHOOK_AI_ANALYZER,\n    headers: {\n      'Content-Type': 'application/json'\n    },\n    body: {\n      conversation_id: data.conversation.id,\n      message_id: data._inserted_message.id,\n      trace_id: data.trace_id\n    },\n    json: true,\n    timeout: 3000\n  });\n} catch (e) {\n  // Intentionally swallowed \u2014 AI failure must not block inbound pipeline\n}\n\nreturn [$input.first()];"
      }
    },
    {
      "id": "exec-log-001",
      "name": "[LOGGING] Write Execution Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3440, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: $env.SUPABASE_URL + '/rest/v1/events_log',\n  headers: {\n    'apikey': $env.SUPABASE_SERVICE_KEY,\n    'Authorization': 'Bearer ' + $env.SUPABASE_SERVICE_KEY,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=minimal'\n  },\n  body: {\n    event_type: 'message.received',\n    actor_type: 'workflow',\n    actor_id: '[Luxee] Inbox \u2014 Inbound SMS Handler',\n    conversation_id: data.conversation.id,\n    workflow_trace_id: data.trace_id,\n    status: 'success',\n    payload: {\n      source_system: data.source_system,\n      channel: 'sms',\n      from: data.channel.from,\n      message_id: data._inserted_message.id,\n      is_new_conversation: data._conversation.is_new,\n      is_new_contact: data._contact.is_new\n    }\n  },\n  json: true\n});\n\nreturn [$input.first()];"
      }
    },
    {
      "id": "error-classify-001",
      "name": "[ERROR] Classify Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 560],
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet error_type = 'unknown';\nlet is_fatal = false;\nlet should_alert = false;\nlet description = 'An unknown error occurred in the SMS handler pipeline';\n\nif (data._channel && data._channel.found === false) {\n  // Came from PROCESSING Channel Connection Found? false path\n  error_type = 'channel_not_configured';\n  is_fatal = true;\n  should_alert = true;\n  description = 'No active SMS channel_connection found for To number: ' + (data.channel ? data.channel.to : 'unknown');\n} else if (!data._channel) {\n  // Came from VALIDATION false path \u2014 infer which field failed\n  const missing = [];\n  if (!data.message || !data.message.external_message_id) missing.push('external_message_id');\n  if (!data.message || !data.message.body) missing.push('message.body');\n  if (!data.channel || !data.channel.from || !/^\\+\\d{7,15}$/.test(data.channel.from)) missing.push('channel.from (must be E.164)');\n  error_type = 'validation_failed';\n  is_fatal = false;\n  should_alert = false;\n  description = 'Validation failed: ' + (missing.length ? missing.join(', ') : 'unknown field');\n}\n\nreturn [{\n  json: {\n    ...data,\n    _classified_error: {\n      error_type: error_type,\n      is_fatal: is_fatal,\n      should_alert: should_alert,\n      description: description,\n      timestamp: new Date().toISOString(),\n      trace_id: data.trace_id\n    }\n  }\n}];"
      }
    },
    {
      "id": "error-log-001",
      "name": "[LOGGING] Write Error Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 560],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst err = data._classified_error;\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: $env.SUPABASE_URL + '/rest/v1/events_log',\n  headers: {\n    'apikey': $env.SUPABASE_SERVICE_KEY,\n    'Authorization': 'Bearer ' + $env.SUPABASE_SERVICE_KEY,\n    'Content-Type': 'application/json',\n    'Prefer': 'return=minimal'\n  },\n  body: {\n    event_type: 'workflow.error',\n    actor_type: 'workflow',\n    actor_id: '[Luxee] Inbox \u2014 Inbound SMS Handler',\n    workflow_trace_id: err.trace_id,\n    status: 'failure',\n    payload: {\n      error_type: err.error_type,\n      description: err.description,\n      is_fatal: err.is_fatal,\n      source_system: data.source_system,\n      channel_from: data.channel ? data.channel.from : null,\n      channel_to: data.channel ? data.channel.to : null\n    }\n  },\n  json: true\n});\n\nreturn [$input.first()];"
      }
    },
    {
      "id": "alert-001",
      "name": "[NOTIFICATION] Alert on Fatal Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 560],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst err = data._classified_error;\n\n// Only alert for fatal errors that need human action\nif (!err || !err.should_alert) {\n  return [$input.first()];\n}\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: $env.SLACK_WEBHOOK_OPS,\n    headers: {\n      'Content-Type': 'application/json'\n    },\n    body: {\n      text: ':rotating_light: *[Luxee] Inbox \u2014 Fatal SMS Handler Error*',\n      blocks: [\n        {\n          type: 'header',\n          text: { type: 'plain_text', text: ':rotating_light: Luxee Inbox \u2014 Fatal Error' }\n        },\n        {\n          type: 'section',\n          fields: [\n            { type: 'mrkdwn', text: '*Error type:*\\n' + err.error_type },\n            { type: 'mrkdwn', text: '*Fatal:*\\n' + err.is_fatal },\n            { type: 'mrkdwn', text: '*Description:*\\n' + err.description },\n            { type: 'mrkdwn', text: '*Trace ID:*\\n`' + err.trace_id + '`' },\n            { type: 'mrkdwn', text: '*From:*\\n' + (data.channel ? data.channel.from : 'unknown') },\n            { type: 'mrkdwn', text: '*To:*\\n' + (data.channel ? data.channel.to : 'unknown') },\n            { type: 'mrkdwn', text: '*Time:*\\n' + err.timestamp }\n          ]\n        }\n      ]\n    },\n    json: true\n  });\n} catch (e) {\n  // Swallow \u2014 alert failure must not mask the original error\n}\n\nreturn [$input.first()];"
      }
    }
  ],
  "connections": {
    "[TRIGGER] Receive Twilio SMS Webhook": {
      "main": [
        [
          { "node": "[BRIDGE] Normalize SMS Payload", "type": "main", "index": 0 }
        ]
      ]
    },
    "[BRIDGE] Normalize SMS Payload": {
      "main": [
        [
          { "node": "[VALIDATION] Check Required Fields", "type": "main", "index": 0 }
        ]
      ]
    },
    "[VALIDATION] Check Required Fields": {
      "main": [
        [
          { "node": "[IDEMPOTENCY] Check Duplicate Message", "type": "main", "index": 0 }
        ],
        [
          { "node": "[ERROR] Classify Error", "type": "main", "index": 0 }
        ]
      ]
    },
    "[IDEMPOTENCY] Check Duplicate Message": {
      "main": [
        [
          { "node": "[IDEMPOTENCY] Is Duplicate?", "type": "main", "index": 0 }
        ]
      ]
    },
    "[IDEMPOTENCY] Is Duplicate?": {
      "main": [
        [
          { "node": "[LOGGING] Skip \u2014 Write Duplicate Log", "type": "main", "index": 0 }
        ],
        [
          { "node": "[PROCESSING] Resolve Channel Connection", "type": "main", "index": 0 }
        ]
      ]
    },
    "[PROCESSING] Resolve Channel Connection": {
      "main": [
        [
          { "node": "[PROCESSING] Channel Connection Found?", "type": "main", "index": 0 }
        ]
      ]
    },
    "[PROCESSING] Channel Connection Found?": {
      "main": [
        [
          { "node": "[PROCESSING] Resolve or Create Contact", "type": "main", "index": 0 }
        ],
        [
          { "node": "[ERROR] Classify Error", "type": "main", "index": 0 }
        ]
      ]
    },
    "[PROCESSING] Resolve or Create Contact": {
      "main": [
        [
          { "node": "[PROCESSING] Resolve or Create Conversation", "type": "main", "index": 0 }
        ]
      ]
    },
    "[PROCESSING] Resolve or Create Conversation": {
      "main": [
        [
          { "node": "[OUTPUT] Insert Message to Supabase", "type": "main", "index": 0 }
        ]
      ]
    },
    "[OUTPUT] Insert Message to Supabase": {
      "main": [
        [
          { "node": "[OUTPUT] Update Conversation", "type": "main", "index": 0 }
        ]
      ]
    },
    "[OUTPUT] Update Conversation": {
      "main": [
        [
          { "node": "[OUTPUT] Trigger AI Analysis Sub-Workflow", "type": "main", "index": 0 }
        ]
      ]
    },
    "[OUTPUT] Trigger AI Analysis Sub-Workflow": {
      "main": [
        [
          { "node": "[LOGGING] Write Execution Log", "type": "main", "index": 0 }
        ]
      ]
    },
    "[ERROR] Classify Error": {
      "main": [
        [
          { "node": "[LOGGING] Write Error Log", "type": "main", "index": 0 }
        ]
      ]
    },
    "[LOGGING] Write Error Log": {
      "main": [
        [
          { "node": "[NOTIFICATION] Alert on Fatal Failure", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    { "name": "client:luxee-internal" },
    { "name": "domain:inbox" }
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  }
}
