workflows/Meme/2061_Meme_Video_MultiPlatform_GoogleDrive_Scheduled.json
{
  "name": "Meme Video - Multi-Platform with Google Drive Backup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Every 8 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 400],
      "notes": "3 video posts per day to all platforms + Google Drive backup"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Enhanced video concepts for multi-platform\nconst concepts = [\n  {\n    topic: 'ai_revolution',\n    prompt: 'Cinematic shot: Developer at desk typing code, camera slowly zooms out revealing AI assistant writing perfect code on adjacent screen. Text overlay fades in: \"THE FUTURE IS NOW\". Professional lighting, 4K quality.',\n    title: 'AI is Changing How We Code',\n    description: 'Watch how AI transforms programming!',\n    tags: ['ai', 'coding', 'technology', 'programming', 'automation'],\n    veo_style: 'cinematic',\n    duration: 10,\n    drive_folder: 'AI & Technology'\n  },\n  {\n    topic: 'coffee_power',\n    prompt: 'Dramatic transformation scene: Tired person in dark room holding coffee cup. As they drink, warm golden light floods the scene, person becomes energized and glowing. Epic orchestral swell. Text: \"JAVA POWER LEVEL: 9000\"',\n    title: 'Coffee: The Ultimate Power-Up',\n    description: 'Every developer needs this! ☕',\n    tags: ['coffee', 'productivity', 'energy', 'developer', 'lifestyle'],\n    veo_style: 'dramatic',\n    duration: 8,\n    drive_folder: 'Lifestyle'\n  },\n  {\n    topic: 'remote_work_reality',\n    prompt: 'Split screen reveal: Top half shows professional home office setup during Zoom call. Camera pans down to reveal messy bedroom, person in pajamas, cat walking across keyboard. Comedy timing. Text: \"EXPECTATIONS VS REALITY\"',\n    title: 'Remote Work Reality Check',\n    description: 'This is too real! 😂',\n    tags: ['remotework', 'wfh', 'workfromhome', 'relatable', 'comedy'],\n    veo_style: 'comedic',\n    duration: 10,\n    drive_folder: 'Comedy'\n  },\n  {\n    topic: 'monday_morning',\n    prompt: 'Time-lapse sequence: Weekend fun montage with vibrant colors and upbeat music, suddenly cuts to dark monday morning, alarm clock ringing, person dramatically rolls over in bed. Text: \"EVERY. SINGLE. MONDAY.\"',\n    title: 'Monday Morning Struggle',\n    description: 'Who else feels this? 😴',\n    tags: ['monday', 'weekend', 'work', 'relatable', 'motivation'],\n    veo_style: 'cinematic',\n    duration: 12,\n    drive_folder: 'Relatable'\n  },\n  {\n    topic: 'debugging_pain',\n    prompt: 'Detective noir style: Developer in dark room, single desk lamp illuminating screen. Dramatic zoom into bug in code. Quick cuts of increasing frustration. Final reveal: missing semicolon. Text: \"2 HOURS LATER...\"',\n    title: 'The Debugging Journey',\n    description: 'Every programmer knows this pain!',\n    tags: ['debugging', 'coding', 'programming', 'developer', 'relatable'],\n    veo_style: 'cinematic',\n    duration: 10,\n    drive_folder: 'AI & Technology'\n  },\n  {\n    topic: 'git_commit',\n    prompt: 'Epic action sequence: Hands flying over keyboard, code streaming on screen. Dramatic pause before git commit. Slow motion finger press on enter key. Explosion of successful commits. Text: \"GIT GOOD\"',\n    title: 'Git Commit Like a Boss',\n    description: 'Version control mastery! 💪',\n    tags: ['git', 'coding', 'developer', 'programming', 'tech'],\n    veo_style: 'action',\n    duration: 9,\n    drive_folder: 'AI & Technology'\n  },\n  {\n    topic: 'stackoverflow_savior',\n    prompt: 'Superhero landing: Developer struggling with error messages on dark screen. Suddenly, Stack Overflow logo appears like a beacon of light. Developer frantically copies code. Text: \"NOT ALL HEROES WEAR CAPES\"',\n    title: 'Stack Overflow to the Rescue',\n    description: 'The real MVP! 🦸',\n    tags: ['stackoverflow', 'coding', 'developer', 'programming', 'help'],\n    veo_style: 'heroic',\n    duration: 11,\n    drive_folder: 'AI & Technology'\n  },\n  {\n    topic: 'meeting_zoom',\n    prompt: 'Office comedy: Person unmuting on Zoom to speak, freezes mid-word. Everyone stares at frozen screen. Suddenly unfreezes with embarrassing face. Quick pan to \"You\\'re on mute\" message. Text: \"EVERY ZOOM CALL\"',\n    title: 'Zoom Meeting Fails',\n    description: 'This happens to everyone! 📹',\n    tags: ['zoom', 'meetings', 'work', 'wfh', 'relatable'],\n    veo_style: 'comedic',\n    duration: 10,\n    drive_folder: 'Comedy'\n  }\n];\n\nconst selected = concepts[Math.floor(Math.random() * concepts.length)];\n\nconst veoPrompt = `${selected.prompt}\\n\\nStyle: ${selected.veo_style}. Camera: smooth movements. Lighting: professional. Quality: 1080p. Aspect ratio: 9:16 vertical for social media.`;\n\n// Platform-specific formatting\nconst instagramCaption = `${selected.description}\\n\\n#${selected.tags.join(' #')} #viral #reels`;\nconst youtubeTitle = `${selected.title} #Shorts`;\nconst youtubeDescription = `${selected.description}\\n\\n${selected.tags.map(t => '#' + t).join(' ')}\\n\\nSubscribe for more!`;\nconst tiktokCaption = `${selected.description} ${selected.tags.map(t => '#' + t).join(' ')}`;\n\n// Google Drive filename (with timestamp for uniqueness)\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-').split('T')[0];\nconst driveFilename = `${selected.topic}_${timestamp}_${Date.now()}.mp4`;\n\nreturn {\n  topic: selected.topic,\n  video_prompt: selected.prompt,\n  veo_prompt: veoPrompt,\n  style: selected.veo_style,\n  duration: selected.duration,\n  // Platform-specific data\n  instagram_caption: instagramCaption,\n  youtube_title: youtubeTitle,\n  youtube_description: youtubeDescription,\n  youtube_tags: selected.tags,\n  tiktok_caption: tiktokCaption,\n  preferred_api: 'veo2',\n  // Google Drive data\n  drive_filename: driveFilename,\n  drive_folder: selected.drive_folder,\n  drive_description: `Generated: ${new Date().toISOString()}\\nTopic: ${selected.topic}\\nStyle: ${selected.veo_style}\\nTags: ${selected.tags.join(', ')}`\n};"
      },
      "id": "generate-concept",
      "name": "Generate Multi-Platform Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400],
      "notes": "Content optimized for Instagram, YouTube Shorts, TikTok, and Google Drive"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "api-check",
              "leftValue": "={{ $json.preferred_api }}",
              "rightValue": "veo",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-api",
      "name": "Route to Video API",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.GOOGLE_CLOUD_REGION || 'us-central1' }}-aiplatform.googleapis.com/v1/projects/{{ $env.GOOGLE_CLOUD_PROJECT }}/locations/{{ $env.GOOGLE_CLOUD_REGION || 'us-central1' }}/publishers/google/models/veo-002:predict",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instances",
              "value": "={{ JSON.stringify([{ prompt: $json.veo_prompt, parameters: { aspectRatio: '9:16', durationSeconds: $json.duration } }]) }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-video-veo",
      "name": "Create Video (Veo 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300],
      "notes": "Generate video with Google Veo 2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.replicate.com/v1/predictions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{ $env.REPLICATE_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "version",
              "value": "3d2a62f9bcc9d32c63e8263bfa3cd790e1f42b9d9f55617d59a1e16f00fb2ea2"
            },
            {
              "name": "input",
              "value": "={{ JSON.stringify({ prompt: $json.video_prompt, num_frames: $json.duration * 5, fps: 5 }) }}"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "create-video-replicate",
      "name": "Fallback: Replicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\nlet videoUrl = '';\nlet apiUsed = 'unknown';\n\nif (input.predictions && input.predictions.length > 0) {\n  videoUrl = input.predictions[0].videoUri || input.predictions[0].url;\n  apiUsed = 'veo';\n} else if (input.output) {\n  videoUrl = Array.isArray(input.output) ? input.output[0] : input.output;\n  apiUsed = 'replicate';\n} else if (input.id) {\n  return {\n    prediction_id: input.id,\n    prediction_url: input.urls?.get,\n    status: 'processing',\n    api_used: 'replicate'\n  };\n}\n\nreturn {\n  video_url: videoUrl,\n  api_used: apiUsed,\n  status: 'completed'\n};"
      },
      "id": "process-response",
      "name": "Process Video Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-ready",
      "name": "Video Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait-async",
      "name": "Wait for Async",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1200, 600],
      "webhookId": "video-wait-gdrive"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Process Video Response').item.json.prediction_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{ $env.REPLICATE_API_TOKEN }}"
            }
          ]
        }
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 600]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "video-url",
              "name": "video_url",
              "value": "={{ $json.video_url || $json.output?.[0] }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "prepare-video",
      "name": "Prepare Video URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1600, 400]
    },
    {
      "parameters": {
        "operation": "upload",
        "fileUrl": "={{ $json.video_url }}",
        "driveId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_DRIVE_FOLDER_ID || 'root' }}",
          "mode": "id"
        },
        "name": "={{ $('Generate Multi-Platform Content').item.json.drive_filename }}",
        "options": {
          "googleFileConversion": {
            "conversion": {
              "doNotConvert": true
            }
          },
          "description": "={{ $('Generate Multi-Platform Content').item.json.drive_description }}"
        }
      },
      "id": "google-drive-upload",
      "name": "Google Drive: Upload Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1800, 400],
      "notes": "Upload video to Google Drive (2TB available!)",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-oauth",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_DRIVE_FOLDER_ID || 'root' }}",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $env['GOOGLE_DRIVE_FOLDER_' + $('Generate Multi-Platform Content').item.json.drive_folder.toUpperCase().replace(/[^A-Z]/g, '_')] || $env.GOOGLE_DRIVE_FOLDER_ID || 'root' }}",
          "mode": "id"
        }
      },
      "id": "organize-drive-folder",
      "name": "Organize by Topic",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2000, 400],
      "notes": "Move to topic-specific subfolder (AI, Comedy, Lifestyle, etc.)",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-oauth",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.INSTAGRAM_USER_ID }}/media",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_url",
              "value": "={{ $('Prepare Video URL').item.json.video_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Generate Multi-Platform Content').item.json.instagram_caption }}"
            },
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "access_token",
              "value": "={{ $env.INSTAGRAM_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "instagram-create",
      "name": "Instagram: Create Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.INSTAGRAM_USER_ID }}/media_publish",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.INSTAGRAM_ACCESS_TOKEN }}"
            }
          ]
        }
      },
      "id": "instagram-publish",
      "name": "Instagram: Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Upload-Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "snippet",
              "value": "={{ JSON.stringify({ title: $('Generate Multi-Platform Content').item.json.youtube_title, description: $('Generate Multi-Platform Content').item.json.youtube_description, tags: $('Generate Multi-Platform Content').item.json.youtube_tags, categoryId: '23' }) }}"
            },
            {
              "name": "status",
              "value": "={{ JSON.stringify({ privacyStatus: 'public', selfDeclaredMadeForKids: false }) }}"
            }
          ]
        },
        "options": {
          "timeout": 25000
        }
      },
      "id": "youtube-upload",
      "name": "YouTube: Upload Short",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 400],
      "notes": "Upload to YouTube Shorts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "post_info",
              "value": "={{ JSON.stringify({ title: $('Generate Multi-Platform Content').item.json.tiktok_caption, privacy_level: 'PUBLIC_TO_EVERYONE', disable_duet: false, disable_comment: false, disable_stitch: false, video_cover_timestamp_ms: 1000 }) }}"
            },
            {
              "name": "source_info",
              "value": "={{ JSON.stringify({ source: 'PULL_FROM_URL', video_url: $('Prepare Video URL').item.json.video_url }) }}"
            }
          ]
        },
        "options": {
          "timeout": 25000
        }
      },
      "id": "tiktok-upload",
      "name": "TikTok: Upload Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 600],
      "notes": "Upload to TikTok"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO meme_videos_multiplatform_gdrive (\n  topic,\n  video_prompt,\n  video_url,\n  instagram_id,\n  youtube_id,\n  tiktok_id,\n  google_drive_id,\n  google_drive_url,\n  platforms_posted,\n  api_provider,\n  posted_at,\n  success\n) VALUES (\n  '{{ $('Generate Multi-Platform Content').item.json.topic }}',\n  '{{ $('Generate Multi-Platform Content').item.json.video_prompt }}',\n  '{{ $('Prepare Video URL').item.json.video_url }}',\n  '{{ $('Instagram: Publish').item.json.id || null }}',\n  '{{ $('YouTube: Upload Short').item.json.id || null }}',\n  '{{ $('TikTok: Upload Video').item.json.data?.publish_id || null }}',\n  '{{ $('Google Drive: Upload Video').item.json.id }}',\n  '{{ $('Google Drive: Upload Video').item.json.webViewLink }}',\n  ARRAY['instagram', 'youtube', 'tiktok', 'google_drive'],\n  '{{ $('Process Video Response').item.json.api_used }}',\n  NOW(),\n  true\n) RETURNING id;",
        "options": {}
      },
      "id": "save-database",
      "name": "Save to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2600, 400],
      "notes": "Track all posts including Google Drive backup",
      "credentials": {
        "postgres": {
          "id": "heroku-postgres",
          "name": "Heroku PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Schedule Every 8 Hours": {
      "main": [
        [
          {
            "node": "Generate Multi-Platform Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Multi-Platform Content": {
      "main": [
        [
          {
            "node": "Route to Video API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Video API": {
      "main": [
        [
          {
            "node": "Create Video (Veo 2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback: Replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video (Veo 2)": {
      "main": [
        [
          {
            "node": "Process Video Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback: Replicate": {
      "main": [
        [
          {
            "node": "Process Video Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Video Response": {
      "main": [
        [
          {
            "node": "Video Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Ready?": {
      "main": [
        [
          {
            "node": "Prepare Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Async",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Async": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Process Video Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Video URL": {
      "main": [
        [
          {
            "node": "Google Drive: Upload Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive: Upload Video": {
      "main": [
        [
          {
            "node": "Organize by Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organize by Topic": {
      "main": [
        [
          {
            "node": "Instagram: Create Reel",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube: Upload Short",
            "type": "main",
            "index": 0
          },
          {
            "node": "TikTok: Upload Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram: Create Reel": {
      "main": [
        [
          {
            "node": "Instagram: Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram: Publish": {
      "main": [
        [
          {
            "node": "Save to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube: Upload Short": {
      "main": [
        [
          {
            "node": "Save to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok: Upload Video": {
      "main": [
        [
          {
            "node": "Save to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-30T18:00:00.000Z",
  "versionId": "1"
}
